

<%= form_for([@post,@post.comments.build]) do |f| %>
<body class="body-comment">

  <div class="comments-container">

    <ul id="comments-list" class="comments-list">
      <li>
        <div class="comment-main-level1">

          <div class="comment-avatar">
            
            
           <% if user_signed_in? %>       
           <%= link_to(avatar_for(current_user, size: 35), current_user)%>
           <%= link_to(current_user.name, current_user)%>
           
           
           <% end %> 
         </div>
         
         <div class="comments-box">
          <label id="placeholder" aria-hidden="true" slot="label" class="style-scope ytd-commentbox">
           <a>Agrega un comentario público…</a>
         </label>
         
         
         <div class="comments-content"><br>
          <%= f.text_area :body, :rows => 5, :cols => 80, :class => 'form-control'%>
        </div>

        <%= f.submit :Publicar, :class => 'btn btn-primary'  %>
        
        <% end %>
      </div>  
    </div>    

  </li>

</ul>    
</div>
</body>

