
<div class="banner-container" data-animation="fadeInUp-fadeOutDown-slow">
  <div class="hero-wrapper">
    <header class="hero">
      <div class="profile-info">
        <h1 class="hero-title"><%= @user.name %></h1>
        <p class="hero-description"><%= @user.description %></p>
        
      </div>

      <div class="hero-avatar">
        <%= avatar_for @user, size: 100 %>
      </div>
    </header>
</div>
</div>




<% if user_signed_in? && current_user?(@user) %>
<%= link_to "Edit", edit_user_path(@user), class: 'button green-border-button pull-left edit-button' %>
<% end %>

<% if user_signed_in? && !current_user?(@user) %>


    <% if current_user.following?(@user) %>
    <%= link_to "Dejar Seguir", relationships_path(user_id: @user.id), method: :delete, class: 'button green-border-button pull-left edit-button' %>

<% else %>

 <%= link_to "Seguir", relationships_path(user_id: @user.id), class: 'button green-border-button pull-left edit-button' %>

<% end %>
<!-- <section>
  <%= render :partial => 'follow_form' %> 
</section>
<section>
  <%= render :partial => 'stats' %> 
</section> -->
<% end %>