

<%= form_for @post, :html => { :class => "form-horizontal post" } do |f| %>

  <% if @post.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.label :title, 'Titulo' %>
    <div class="titulo">
    
  <%= f.text_field :title,  :size=>'50', :height=>'254', :class => 'form-control form-control-lg', :placeholder => 'Titulo del blog' %>
    </div>
    <%=f.error_span(:title) %>
  </div>
<br>
  <div class="contenido form-inputs">
    <%= f.label :text, 'Contenido'%>
   <%= f.hidden_field :text, id: :post_body, class: "form-control" %>
   
    <trix-editor  input="post_body"></trix-editor>
    <%=f.error_span(:text) %>
  </div>
 <br>

<br>
  <div>
    <h3>Categorias</h3>
  
     <div class="field">
   
     <%= select_tag(:category_id, options_for_select(@categories), :prompt => "Sleccione Uno!")%>
     </div>

  
  </div>


 <br>
<div class="hero-avatar">
            <label class="change-avatar" id="change-avatar" style="background-image: url('<%= @post.imagen.url %>')">
              <%= f.file_field :imagen %>
              <%= icon('camera') %>
            </label>
            
          </div>



  <div class="form-actions">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                posts_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
