
  <!-- AQUIIII EL LANDING PAGE
-->

<div class="pin post_panel level-2" >
   <%= avatar_for(post.user, size:40) %>   
    <%= link_to post.user.name, post.user %>
   <br>
      <div class="post_panel_imagen level-3">
        <br>
        <%= imagen_for(post, size:350) %>
       </div>
       <br>
          <div class="main-body level-4">
            <h3 class="post-title">
            <%= link_to post.title, post %>
            <p ><%= link_to  post.all_tags %></p>  

            </h3>      
              <br>
          </div>

   
</div>      

    
 