


    <div class="pull-right">
      <%= render partial: 'posts/social_share', locals: { post: @post } %>
    </div>
    <td>publicado el <%= @post.created_at %></td>

    <dl class="dl-horizontal">

      <div class="hero-wrapper">
        <header class="hero">
          <div class="profile-info">
            

            
          </div>
          <div class="hero-avatar">
            <%= imagen_for @post, size: 1200 %>
          </div>
        </header>
      </div>

      <h1 class="hero-title"><%= @post.title %></h1>



      <%- model_class = Post -%>


      <div class="post-show">

        <p><%=raw @post.text %></p>
      </div>

      <p><%=raw tag_links(@post.all_tags)%> </p>

<!-- <div class="field">
      <% @categories.each do |category|%>
      <%=link_to category.name, category %>
      <%end%>
</div> -->
    </dl>

    <br>
    <br>


     <h2><%= @post.comments.count %> Aqui Comentarios</h2>
    <%= render @post.comments %>
     <h3>Agregar Commentarios</h3>
    <%= render "comments/form"%>


    <% if user_signed_in? %>
    <%= link_to t('.back', :default => t("helpers.links.back")),
    posts_path, :class => 'btn btn-default'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
    edit_post_path(@post), :class => 'btn btn-default' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
    post_path(@post),
    :method => 'delete',
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
    :class => 'btn btn-danger' %>
    <% end %>
