


  <!--   <div class="pull-right">
      <%= render partial: 'posts/social_share', locals: { post: @post } %>
    </div> -->
    <td>publicado el <%=  @post.created_at.strftime("%Y-%m-%d") %></td>
 <h1 class="hero-title"><%= @post.title %></h1>
    <dl class="dl-horizontal">

      <div class="hero-wrapper">
        <header class="hero">
         
          <div class="hero-avatar">
            <%= imagen_for @post, size: 1200 %>
          </div>
        </header>
      </div>

     



      <%- model_class = Post -%>


      <div class="post-show">
<br>

<div class="perfil-avatar">
   <%= avatar_for(@post.user, size:40) %>   
  
   <br>
      <div class="heart" style="float: right;">
            <i class="far fa-heart " style="color:#BE81F7;"></i>
            <i class="far fa-comment" style="color:#BE81F7;"> 
                      <%= @post.comments.count %>
                      </i>
       </div> 

</div><hr class="uk-grid-divider">
        <p><%=raw @post.text %></p>
      </div>
              
      <p><%=raw tag_links(@post.all_tags)%> </p>

<!-- <div class="field">
      <% @categories.each do |category|%>
      <%=link_to category.name, category %>
      <%end%>
</div> -->
    </dl>

    <br>
    <br>
<hr class="uk-grid-divider">
<h3 class="uk-h2 uk-margin-top-remove"></h3>

    <!--  <h2><%= @post.comments.count %> Aqui Comentarios</h2> -->
    

    
    <%= render @post.comments %>
   <br>
<hr class="uk-grid-divider">
<h3 class="uk-h2 uk-margin-top-remove">
  </h3>
    <h1>Agregar Commentarios</h1>
   
    <%= render "comments/form"%>

<% if user_signed_in? %>
    <%= link_to t('.back', :default => t("helpers.links.back")),
    posts_path, :class => 'btn btn-default'  %>

    <%= link_to t('.edit', :default => t("helpers.links.edit")),
    edit_post_path(@post), :class => 'btn btn-default' %>

    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
    post_path(@post),
    :method => 'delete',
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
    :class => 'btn btn-danger' %>

    <% end %>
