<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>

</p>
</p>
<p>
aqui el nombre del post: No esta 


	  <% @category.posts.each do |post| %>
       <h1><%= link_to post.title, post %></h1>
       <%end%>

</p>
<p>
  <strong>Color:</strong>
  <%= @category.color %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
