  <div class="navbar  navbar-static-top">
      
    <div class="container_header">



      <div class="navbar-collapse collapse navbar-responsive-collapse">

         

 

       <ul class="nav navbar-nav navbar-center">
 
   <li class="new_blog_botton"><%= link_to 'Relatos Morados', root_path, class: "button " , data: { behavior: 'trigger-overlay' }  %></li>

      <!--    <li class="main-searchbar" id="main-searchbar">
          <%= react_component('SearchBar', { prerender: true})%>
        </li>  -->

        <li class="new_blog_botton"><%= link_to 'Blog', posts_path, class: "button", data: { behavior: 'trigger-overlay' }  %></li>

        <% if user_signed_in?%>

        <li class="avatar_botton"><%= link_to(avatar_for(current_user, size: 35), current_user)%></li>

        <li><%= link_to 'Cerrar Sesion', destroy_user_session_path,class: 'button green-border-button', method: :delete %></li>
        <% else %>

        <li><%= link_to 'Sign In / Sign Up', new_user_session_path, class: 'button green-border-button', data: { behavior: 'trigger-overlay' }%></li>

        <% end %>

      </ul>
    </div>
  </div>
</div>